@font-face {
    font-family: 'Prata';
    src: url('fonts/Prata/Prata-Regular/Prata-Regular.eot');
    src: url('fonts/Prata/Prata-Regular/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Prata/Prata-Regular/Prata-Regular.woff2') format('woff2'),
        url('fonts/Prata/Prata-Regular/Prata-Regular.woff') format('woff'),
        url('fonts/Prata/Prata-Regular/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    src: url('fonts/Arial/Arial-Regular/ArialMT.eot');
    src: url('fonts/Arial/Arial-Regular/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/Arial/Arial-Regular/ArialMT.woff2') format('woff2'),
        url('fonts/Arial/Arial-Regular/ArialMT.woff') format('woff'),
        url('fonts/Arial/Arial-Regular/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

